aiofiles==24.1.0
aiogram==3.22.0
aiogram_calendar==0.6.0
appdirs==1.4.4
argcomplete==3.6.0
atomicwrites==1.4.0
catkin-pkg==1.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.19.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
coverage==7.7.1
distlib==0.3.9
empy==4.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
jsonpointer==2.1
lark-parser==0.12.0
magic-filter==1.0.12
protobuf==3.20.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pytest-cov==6.0.0
pytest-repeat==0.9.3
pytest-rerunfailures==15.0
python-telegram-bot==22.4
rosdep==0.25.1
rosdistro==1.0.1
rospkg==1.6.0
setuptools==69.5.1
wheel==0.43.0
